.container {
    width: 500px;
    margin: 40px auto;
    font-family: "Poppins", sans-serif;
}

.accordion {
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.item {
    border-bottom: 1px solid #ddd;
    padding: 15px 20px;
    cursor: pointer;
    
}

.item:hover {
    background: #f0f0f0;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.title span {
    font-size: 22px;
    font-weight: bold;
    color: #666;
}

.content {
    margin-top: 10px;
    padding-left: 5px;
    color: #555;
    line-height: 1.5;
    font-size: 15px;
    animation: fadeIn 0.3s ease-in;
}

/* Smooth fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.btn{
 background-color: #9c9898;
 border-radius: 7px;
 width:200px;
 height: 30px;
margin-left:170px ;
margin-bottom: 80px;
margin-top: 20px;
font-weight: 200px;
}